$White: #ffffff;
$Black: #000000;
$MineShaft: #222222;
$NightRider: #333333;
$MidnightGray: #444444;
$Mercury: #e5e5e5;
$CornSilk: #fffada;
$Porcelain: #edf2f3;
$Matterhorn: #555555;
$DoveGray: #666666;
$Flamingo: #ef4e28;
$Alto: #dddddd;
$CuriousBlue: #3498db;
$Gallery: #ebebeb;
$GreenHaze: #09ac63;
$EggWhite: #ffe9c1;
$GoldenTainoi: #ffc660;
$Whisper: #eeeeee;
$Azure: #fafafa;
$WhiteSmoke: #f4f4f4;
$BurntOrange: #ff7a2f;
$Cinnabar1: #e83f17;
$Charcoal: #4a4a4a;
$Nobel: #999999;
$NobelLight: #A0A0A0;
$ClearDay: #e7f8f2;
$Sunglow: #ffc229;
$Gainsboro: #dedede;
$MistyRose :#fde9e5;
$RoseBud :#f7b09f;
$Pippin: #FBD9D1;
$Azure2: #f3f7f8;
$RoseWhite: #fdede9;
$VistaBlue: #98e1c1;
$LightGrey: #d0d0d0;
$DodgerBlue: #007bff;
$Maroon: #801800;
$Gray: #808080;
$DeepSkyBlue: #00b9f5;
$MountainMeadow: #11bf80;
$CatalinaBlue: #213368;
$CatalinaBlue1: #21356a;
$Pippin1: #fcded7;
$Gainsboro1: #e3e3e3;
$WhiteSmoke1: #f7f7f7;
$Bittersweet: #fd5c5c;
$LightOrange: #ff9b56;
$Solitude: #e5e7e9;
$Caramel: #ffd795;
$Orange: #ffa500;
$RadicalRed: #ff4668;
$Pumpkin: #f37721;
$Cinnabar: #e94c24;
$FaluRed: #6d1608;
$Azure1: #ecf2f3;
$PinkSwan: #b3b3b3;
$BrilliantRose: #f460a7;
$BlueViolet: #8626e8;
$VioletRed : #ff4584;
$Wewak: #ff999e;
$Tangerine: #f88502;
$GrapeFruit: #fa6565;
$Silver: #bcbcbc;
$Iron: #c3d0d2;
$Turbo: #ffc81d;
$LightYellow: #fffdde;
$CarrotOrange: #f7941e;
$TicklePink: #ff6fa5;
$HanPurple: #4617e8;
$Nobel1: #9b9b9b;
$AliceBlue: #f5f8f9;
$VeryLightGrey: #c9c9c9;
$DarkGray: #a9a9a9;
$DarkTangerine: #ffb10a;
$Dandelion: #ffe261;
$Mauve: #d7a7f7;
$DeepLilac:#a24dbf;
$DarkOrchid: #9e41c9;
$Pippin2: #ffe1d4;
$Ivory: #fffef8;
$MoonYellow: #f3c421;
$WhiteSmoke2: #fff1f1;
$PattensBlue: #e2ebee;
$Sapphire: #012b72;
$Shamrock: #26d07c;
$Danube: #5d8ac8;
$Amethyst: #945dc8;
$OrangePeel: #F79A00;
$WhiteSmoke3: #f1f1f1;
$EgyptianBlue: #21409a;
$LilyWhite: #e2f7ed;
$IslandSpice: #FFFBF0;
$SunsetOrange: #ff585d;
$CaribbeanGreen: #00bf9a;
$PastelGreen: #6bf179;
$DodgerBlue1: #3693eb;
$Anakiwa: #91daed;
$NearRichLavendar: #a859d1;
$DarkSlateBlue: #331bb2;
$DustyOrange: #f37721;
$OrangeRed: #ff3c01;
$Snow: #fbfbfb;
$LightCyan: #e6f1f2;
$RoyalBlue: #3862d7;
$Malibu: #52baf5;
$AliceBlue1: #eef0f1;
$VeryLightGrey1: #cbcbcb;
$MintCream: #eef9f4;
$DimGray: #696969;
$Tutu: #ffe9e9;
$BrightPink: #af49c3;
$PinkisWhite: #fff6f6;
$Aquamarine: #6ffcbd;
$Snow1: #f9f9f9;
$HawkesBlue: #d3d5dd;
$Cello: #213367;
$MediumVioletRed: #c41a86;
$Gray81: #cfcfcf;
$Melon: #f9B8a9;
$CornflowerBlue: #438EE5;
$Fuchsia: #C951CA;
$Mantis: #73CA62;
$GoldenGlow: #FFD98A;
$Ivory1: #FFFFF1;
$MediumTurquoise: #41C8C2;
$DodgerBlue1: #0079ff;
$Denim: #155FD2;
$Snow2: #fff7f7;
$Onahau: #c7ecf8;
$Scarlet: #f12e10;
$MediumVioletRed1: #b21b98;
$RoyalBlue1: #406af3;
$SkyBlue: #87d8ee;
$VividTangerine: #ff8c7a;
$Spindle: #b8c2cb;
$Cultured: #f5f8fa;
$AzureishWhite: #dde5ed;
$SunsetOrange: #ff585d;
$VividCerulean: #00aced;
$LinkWater: #c5d2e0;
$Wedgewood: #506d85;
$BlueCharcoal: #1d252d;
$PoloBlue: #8ba6c1;
$Spindle: #b8c2cb;
$PrussianBlue: #002f6c;
$Smalt: #00319c;
$Onahau1: #b3e6f9;
$BlackRussian: #00091d;
$OldLace: #fff6e5;
$OldLace1: #f9f5ec;
$NewOrange: #ffad00;
$AliceBlue2: #f2fbfe;
$WispPink: #feeae5;
$Cinnabar2: #e93224;
$BurntSienna: #f27447;
$Gainsboro2: #e0e0e0;
$AliceBlue3: #e5f6fd;
$SummerSky: #33bdf1;
$Red: #f40000;
